{% include "planning/header.html" %}
{% load static %}
<html>
    <main>
        <div class="container">
            <center>
            <h1 id="title">Hello, Welcome to Planifii</h1>
            </center>
            <p class="text-center">
                Planifii is a tool that let you organize all the shores that need to be done,<br />
                see a report of who has done what and who's a slacker.<br />
                You can also report if a task has been fakely registered and all the stats about tasks complexity<br/>
                and tasks repetitions are calculated into a single rating integer.
                
                It is free and it will always be but you can support us by buying the <a href="/support">premium version</a>.
            </p>
            <a class="btn btn-primary" href="/account/register">Let's go !</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </main>
</html>