{% include "planning/header.html" %}
{% block content %}
{% load static %}
    <center><h1 class="mt-5">Your support is precious !</h1></center>
    <p class="text-center">Thank you very much ! You have now access to the customization features<br />
    via the admin panel of your homes. For security reasons, you will have to create a new one<br />
    so you can access it's panel.</p>
    <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
{% endblock %}
<script type="text/javascript" src="https://pagecdn.io/lib/feather-icons/4.28.0/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
