{% include "planning/header.html" %}
{% load static %}
<html>
    <main class = "col-md-9">
        <div class="d-grid gap-5 container">
            <center>
            <h1 id="title">Ouch !</h1>
            <h2>I'm in pain</h2>
            <h4>500 Internal Server Error</h4>
            </center>
            <div class="d-grid gap-3 w-25">
                <a style="background-color:paleturquoise; padding:10px; border-radius:10px;" href= "/dashboard">To the dashboard</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </main>
    </div>
</div>
</html>